{% extends 'base.html' %}

{% load static %}

{% block start %}

<div class="activity">
    <div class="title">
        <i class="uil uil-bookmark"></i>
        <span class="text">Employees</span>
    </div>
    
    <div class="activity-data">
        <div class="data names">
            <span class="data-title">Employee Name</span>
            <span class="data-list">Prem Shahi</span>
        </div>
        <div class="data email">
            <span class="data-title">Contract No.</span>
            <span class="data-list">premshahi@gmail.com</span>
        </div>
        <div class="data joined">
            <span class="data-title">Start</span>
            <span class="data-list">2022-02-12</span>
        </div>
        <div class="data type">
            <span class="data-title">End</span>
            <span class="data-list">New</span>
        </div>
        <div class="data status">
            <span class="data-title">Duty Station</span>
            <span class="data-list">Liked</span>
        </div>
    </div>
{% endblock %}